/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Config file for defining module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


process {
	withName: 'CONFINDR_VERSION' {
		publishDir = [
				path: 		{ "${params.out_dir}/versions" },
				mode: 		params.publish_dir_mode,
				pattern:	"confindr.version",
		]
	}
	withName: 'CONFINDR' {
		publishDir = [
			[
				path:           { "${params.out_dir}/versions" },
                                mode:           params.publish_dir_mode,
                                pattern:        "confindr.version"
			],
			[
				path:           { "${params.out_dir}/results" },
                                mode:           params.publish_dir_mode,
                                pattern:        "mlst_report.tsv",
				saveAs:		{"MLST_report.tsv"}
			]
		]
	}

   
}